/*  点击效果  */
.ciallo {
    position: absolute;
    padding: 5px 10px;
    color: black;
    font-size: 16px;
    border-radius: 5px;
    opacity: 1;
    user-select: none;
    animation: moveUp 2s forwards, fadeOut 2s forwards;
}

@keyframes moveUp {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-50px);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/*  弹幕效果  */
.danmaku {
    position: fixed;
    white-space: nowrap;
    font-size: 20px;
    color: #ff0;
    opacity: 1;
    animation: moveDanmaku 20s linear forwards;
    user-select: none;
}

@keyframes moveDanmaku {
    0% {
        transform: translateX(450%); /* 从右侧开始 */
    }
    100% {
        transform: translateX(-450%); /* 向左滚动至完全消失 */
    }
}
