body {
    background-color: rgb(151, 193, 252);
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    filter: blur(5px) brightness(75%);
}

.main {
    margin: auto;
    width: 75%;
}

.leftPanel {
    position: fixed;
    width: 250px;
}

.leftPanel p {
    background-color: #ffffff75;
    /* backdrop-filter: blur(5px); */

    padding: 10px;
    border-radius: 25px;

    text-align: center;
}

.leftPanel img {
    height: 225px;
    border-radius: 25px;
}

.leftPanel object {
    position: relative;
    top: 2.5px;
}

.leftPanel .title {
    font-size: x-large;
    font-weight: 600;
}

.leftPanel .brief {
    color: gray;
}

.rightPanel {
    position: relative;
    left: calc(250px + 25px);
    width: calc(100% - 250px);

    font-size: 25px;
    font-weight: 600;
}

.rightPanel h1 {
    font-size: 60px;
    font-weight: 800;
    height: 50px;
}

.rightPanel h2 {
    font-size: 40px;
    font-weight: 700;
    height: 10px;
}

.btnList {
    display: flex;
    width: 100%;
}

.btn {
    /* width: calc(25%); */

    padding: 20px;
    border-radius: 25px;
    margin: 8px;

    text-align: center;
    text-decoration: none;
    font-size: 25px;

    background-color: #ffffff75;
    color: #000000;

    transition: 300ms;
}

.btn:hover {
    letter-spacing: 4px;
    padding-left: auto;
    padding-right: auto;
}

.gradient-text {
    background: linear-gradient(to right, #0065ff, #00ffff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (min-width: 1100px) {
}
