.backgroundVid {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    filter: brightness(75%);
}

.main {
    position: fixed;
    text-align: center;
    backdrop-filter: blur(5px);
    background-color: #ffffff55;
    width: 90vw;
    height: 90vh;
    border-radius: 25px;
    top: 5vh;
    left: 5vw;
    font-size: xx-large;
}

img {
    width: 50%;
}

.btn {
    display: inline-block;

    padding: 20px;
    border-radius: 25px;
    margin: 8px;

    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: xx-large;

    background-color: #f0f0f075;
    color: #000000;

    transition: 300ms;
}

.btn:hover {
    letter-spacing: 10px;
    background-color: #f0f0f0;
    color: #000000;
    padding-left: auto;
    padding-right: auto;
}

@media screen and (max-width: 1000px) {
    img {
        width: 100%;
    }
}
