.leftPanel .mBtns {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    vertical-align: middle;
}

.mBtn {
    color: #000000;
    background-color: #ffffff55;
    font-size: x-large;
    border-radius: 10px;
    padding: 0 0.15em 0.125em 0.15em;
    margin: 5px;

    transition: 250ms;
}

.mBtn#Github:hover {
    background-color: #000000;
    color: #fff;
}

.mBtn#Bilibili:hover {
    background-color: rgb(251, 114, 153);
    color: rgb(0, 161, 214);
}

.mBtn#Steam:hover {
    /* background: linear-gradient(to bottom, #121b30, #0179ad); */
    background-color: #1b2838;
    color: #fff;
}

.mBtn#Email:hover {
    background-color: deepskyblue;
    color: #fff;
}

@media (prefers-color-scheme: dark) {
    .mBtn {
        color: #fff;
        background-color: #10101050;
    }
}
