body {
    margin: 0;
    overflow-x: hidden;
    text-align: center;
    width: 100vw;
}

a#playingGame {
    color: #000;
    text-decoration: transparent;
}

.backgroundVid {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    filter: brightness(75%);
    /* filter: blur(5px); */
}

.main {
    margin: auto;
    width: 75%;
    height: auto;
}

@keyframes introLeftPanel {
    from {
        transform: translateX(-25vw);
    }

    to {
        transform: translateX(0);
    }
}

.leftPanel {
    position: fixed;
    top: 40px;
    left: 12.5%;
    width: 15%;

    font-size: larger;
    font-weight: normal;

    animation: introLeftPanel 800ms;
}

.leftPanel .card {
    background-color: #ffffff50;
    backdrop-filter: blur(5px);

    padding: 15px;
    border-radius: 25px;
    margin-bottom: 15px;

    text-align: center;
}

.leftPanel .avatar {
    width: 100%;
    border-radius: 25px;
}

.leftPanel .title {
    font-size: x-large;
    font-weight: bold;
}

.leftPanel .brief {
    color: gray;
    font-size: large;
}

@keyframes introRightPanel {
    0% {
        scale: 0;
        /* transform: translateX(5vh); */
        /* opacity: 0; */
    }

    100% {
        scale: 1;
        /* transform: translateX(0); */
        /* opacity: 1; */
    }
}

.rightPanel {
    position: relative;
    left: 25%;
    width: 75%;
    top: 15px;

    font-size: x-large;
    font-weight: normal;
}

.rightPanel h1 {
    font-size: 60px;
    font-weight: bolder;
    height: fit-content;
    animation: introRightPanel 800ms;
}

.rightPanel .title {
    display: inline-block;

    font-size: 40px;
    font-weight: 700;

    padding: 10px;
    margin: 25px 0 10px 0;
    border-radius: 25px;

    background-color: #f0f0f075;
    backdrop-filter: blur(5px);
    animation: introRightPanel 800ms;
}

.rightPanel .title i {
    padding-bottom: 10px;
}

.rightPanel .title .sub {
    font-size: 30px;
    font-weight: 700;
    margin-left: 5px;
}

.rightPanel .board {
    text-align: left;
    width: calc(100% - 25px * 2);
    padding: 25px;
    vertical-align: middle;
    display: inline-block;
}

.rightPanel .board .qrCode {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.rightPanel .board .qrCode img {
    display: inline-block;
    border-radius: 25px;
    width: calc(100%);
}

.rightPanel .board .text {
    display: inline-block;
    vertical-align: middle;
    padding-top: 3px;
    padding-left: 5px;
}

.rightPanel .board .text a {
    color: #000;
}

.rightPanel .board .front {
    display: inline-block;
    vertical-align: top;
    text-align: right;
    font-weight: bolder;
    font-size: xx-large;
}

.background {
    width: 100%;
    height: auto;
    backdrop-filter: blur(5px);
    background-color: #ffffff50;
    border-radius: 25px;
    margin: 5px;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    animation: introRightPanel 800ms;
    /* gap: 100px; */
}

.btn {
    display: inline-block;

    padding: 20px;
    border-radius: 25px;
    margin: 8px;

    text-align: center;
    text-decoration: none;
    font-size: 25px;

    background-color: #f0f0f075;
    color: #000000;

    transition: 300ms;
}

.btn:hover {
    letter-spacing: 0.5px;
    background-color: #f0f0f0;
    color: #000000;
    padding-left: auto;
    padding-right: auto;
}

#afd {
    border-radius: 25px;
}

footer {
    position: relative;
    left: 0;
    bottom: 0;
    text-align: center;
    background-color: #ffffff50;
    backdrop-filter: blur(5px);
}

.gradient-text {
    background: linear-gradient(to right, #0065ff, #00ffff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

@media screen and (max-width: 1000px) {
    .main {
        width: 90%;
    }

    .leftPanel {
        position: unset;
        width: 100%;

        margin-top: 100px;
    }

    .leftPanel .avatar {
        width: 50%;
    }

    .rightPanel {
        width: 100%;
        text-align: center;
        left: 0;
    }

    .rightPanel .board {
        text-align: left;
    }

    .rightPanel .board .front {
        width: 100%;
        text-align: center;
    }

    .rightPanel .board .text {
        width: 100%;
        text-align: center;
        padding: 0;
    }

    .background {
        grid-template-columns: 1fr;
    }

    .background {
        margin-left: 0;
    }
}

@media (prefers-color-scheme: dark) {
    a#playingGame {
        color: #fff;
    }

    .leftPanel {
        color: #fff;
    }

    .leftPanel .card {
        background-color: #10101025;
    }

    .leftPanel .brief {
        color: #aaa;
    }

    .rightPanel {
        color: #fff;
    }

    .rightPanel .title {
        background-color: #10101025;
    }

    .rightPanel .board .text a {
        color: #fff;
    }

    .background {
        background-color: #10101025;
    }

    .btn {
        background-color: #25252525;
        color: white;
    }

    #giscus {
        background-color: #10101075;
    }

    footer {
        color: #fff;
        background-color: #10101025;
    }
}
