body {
    margin: 0;
}

i {
    padding: 5px;
}

img.svg {
    height: 1em;
    width: auto;
    margin-right: 5px;
    vertical-align: middle;
}

.backgroundVid {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    filter: brightness(75%);
    /* filter: blur(5px); */
}

.main {
    margin: auto;
    width: 75%;
    height: auto;
}

.leftPanel {
    position: fixed;
    width: calc(15%);

    font-size: medium;
    font-weight: 500;
}

.leftPanel .card {
    background-color: #ffffff55;
    backdrop-filter: blur(5px);

    padding: 15px;
    border-radius: 25px;
    margin-bottom: 15px;

    text-align: center;
}

.leftPanel .avatar {
    width: calc(100%);
    border-radius: 25px;
}

.leftPanel .title {
    font-size: x-large;
    font-weight: 600;
}

.leftPanel .brief {
    color: gray;
}

.rightPanel {
    position: relative;
    left: calc(25%);
    width: calc(75%);
    top: calc(15px);

    font-size: 25px;
    font-weight: 600;
}

.rightPanel h1 {
    font-size: 60px;
    font-weight: 800;
    height: fit-content;
}

.rightPanel .title {
    display: inline-block;

    font-size: 40px;
    font-weight: 700;

    padding: 10px;
    margin: 25px 0 10px 0;
    border-radius: 25px;

    background-color: #f0f0f075;
}

.rightPanel .title .sub {
    font-size: 30px;
    font-weight: 700;
    margin-left: 5px;
}

.rightPanel .board {
    font-weight: normal;
    padding: 25px;
}

.rightPanel .board .text {
    display: inline-block;
    vertical-align: middle;
    padding-left: 5px;
    border-left: 5px #000000;
}

.rightPanel .board .date {
    display: inline-block;
    vertical-align: top;
    font-weight: bolder;
    font-size: xx-large;
}

.background {
    width: 100%;
    height: auto;
    backdrop-filter: blur(5px);
    background-color: #ffffff50;
    border-radius: 25px;
    margin: 5px;
}

.btn {
    /* width: auto; */
    display: inline-block;

    padding: 20px;
    border-radius: 25px;
    margin: 8px;

    text-align: center;
    text-decoration: none;
    font-size: 25px;

    background-color: #f0f0f075;
    color: #000000;

    transition: 300ms;
}

.btn:hover {
    letter-spacing: 1px;
    background-color: #f0f0f0;
    color: #000000;
    padding-left: auto;
    padding-right: auto;
}

.gradient-text {
    background: linear-gradient(to right, #0065ff, #00ffff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer {
    position: relative;
    left: 0;
    bottom: 0;
    /* width: calc(100vw); */
    text-align: center;
    background-color: #10101050;
}

@media screen and (min-width: 1100px) {
}

@media (prefers-color-scheme: dark) {
    .leftPanel {
        color: #fff;
    }

    .leftPanel .card {
        background-color: #10101025;
    }

    .leftPanel .brief {
        color: #aaa;
    }

    .rightPanel {
        color: #fff;
    }

    .rightPanel .title {
        background-color: #10101025;
    }

    .background {
        background-color: #10101025;
    }

    .btn {
        background-color: #25252525;
        color: white;
    }

    footer {
        color: #fff;
    }
}
